{# Use bootstrap page scaffolding #}
{%- extends "bootstrap/base.html" %}
{% block title %}
    {% if title %}{{ title }}{% else %}San Marcos Roasting Co{% endif %}
{% endblock title %}

{# IE compatibility #}
{% import "bootstrap/fixes.html" as fixes %}

{# fixes for legacy browsers. #}
{% import "bootstrap/fixes.html" as fixes %}

{% block meta %}
    {{ super() }}
    <meta charset="UTF-8">
{% endblock %}

{% block head %}
    {{ super() }}

    <!-- fixes for legacy browsers -->
    {{ fixes.ie8() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{%- endblock %}

{% block styles -%}
    {{ super() }}
    <!-- Local CSS Files -->
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <!-- CDN CSS Files-->
    <link href="{{ bootstrap_find_resource('css/bootstrap-datetimepicker.css', cdn='bootstrapdtp') }}"
          rel="stylesheet">
    <link href="{{ bootstrap_find_resource('css/buttons.dataTables.css', cdn='dataTableBtns', use_minified=true) }}"
          rel="stylesheet">
    <link href="{{ bootstrap_find_resource('css/jquery.dataTables.css', cdn='dataTable', use_minified=true) }}"
          rel="stylesheet">
    <link href="{{ bootstrap_find_resource('latest/toastr.css', cdn='toastr', use_minified=true) }}"
          rel="stylesheet">
    <link href="{{ bootstrap_find_resource('/css/bootstrap-select.css', cdn='multiselect', use_minified=true) }}"
          rel="stylesheet">
{% endblock styles %}

{% block navbar %}
    {{ super() }}
    {{ nav.secnavbar.render(renderer='bootstrap') }}
    {% import "bootstrap/utils.html" as utils %}
    <div>
        <!-- Flask - Alert area -->
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">{{ utils.flashed_messages(messages, dismissible=True) }}</div>
                </div>
            {%- endif %}
        {%- endwith %}
    </div>
{% endblock navbar %}

{% block content %}
    {{ super() }}
    <div class="container-fluid">
        <div class="jumbotron">
            <!-- Page specific controls -->
            <div class="jumbotron" style="background-color: white">{% block control_area %}{% endblock %}</div>
            <!-- Content area -->
            <div class="jumbotron" style="background-color: white">{% block data_area %}{% endblock %}</div>
        </div>
    </div>  <!-- /.container -->
{% endblock content %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <!-- CDN JS Files-->
    <script src="{{ bootstrap_find_resource('js/jquery.dataTables.js', cdn='dataTable', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/bootstrap-datetimepicker.js', cdn='bootstrapdtp', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/dataTables.buttons.js', cdn='dataTableBtns', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/buttons.flash.js', cdn='dataTableBtns', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/buttons.html5.js', cdn='dataTableBtns', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/buttons.print.js', cdn='dataTableBtns', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('jszip/3.1.3/jszip.js', cdn='saveJs', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('pdfmake/0.1.32/pdfmake.js', cdn='saveJs', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('pdfmake/0.1.32/vfs_fonts.js', cdn='saveJs') }}"></script>
    <script src="{{ bootstrap_find_resource('latest/toastr.js', cdn='toastr', use_minified=true) }}"></script>
    <script src="{{ bootstrap_find_resource('js/bootstrap-select.js', cdn='multiselect', use_minified=true) }}"></script>

    <!-- Load all the servers static files bundled and minified -->
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- Manage AJAX requests -->
    <script>
        $(document).ready(function () {
            // Set all our ajax calls to have the necessary headers for the server.
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded; charset=utf-8");
                }
            });
        });
    </script>
{% endblock scripts %}
