<form class="col-12">
    <div class="form-row" data-toggle="tooltip" data-placement="top" title="Select the first date to include.">
        <label class="col-sm-2 col-form-label" for="start-selector-input">From:</label>
        <div class="input-group input-group-lg date" id="start-selector-input">
            <input type="text" id="start-selector" class="form-control" placeholder="Start from..."
                   aria-describedby="sizing-addon1" name="start_time">
            <span class="input-group-addon" id="sizing-addon1" data-toggle="tooltip" data-placement="right"
                    title="Click the text to make a selection.">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-row" data-toggle="tooltip" data-placement="bottom" title="Select the last date to include.">
        <label class="col-sm-2 col-form-label" for="end-selector-input">To:</label>
        <div class="input-group input-group-lg date" id="end-selector-input">
            <input type="text" id="end-selector" class="form-control" placeholder="Go to..."
                   aria-describedby="sizing-addon1" name="end_time">
            <span class="input-group-addon" id="sizing-addon1" data-toggle="tooltip" data-placement="right"
                    title="Click the text to make a selection.">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</form>
