<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-warning" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header text-center">
                <h1 class="display-3">Load Data</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <form id="dataForm">
                    <div class="input-group input-group-lg date">
                        <input type="text" id="dtLoadStart" class="form-control" placeholder="Load from..."
                               aria-describedby="sizing-addon1" name="start_time">
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="input-group input-group-lg date">
                        <input type="text" id="dtLoadEnd" class="form-control" placeholder="Load to..."
                               aria-describedby="sizing-addon1" name="end_time">
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <input type="hidden" name="task" value="">
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitButton">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>