<div class="input-group input-group-lg date">
    <input type="text" id="start-selector" class="form-control" placeholder="Start from..."
           aria-describedby="sizing-addon1" name="start_time">
    <span class="input-group-addon" id="sizing-addon1">
    <span class="glyphicon glyphicon-calendar"></span>
</span>
</div>
<div class="input-group input-group-lg date">
    <input type="text" id="end-selector" class="form-control" placeholder="Go to..."
           aria-describedby="sizing-addon1" name="end_time">
    <span class="input-group-addon" id="sizing-addon1">
    <span class="glyphicon glyphicon-calendar"></span>
</span>
</div>