/* Transparent bootstrap navbar */
.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}
.padded {
    padding: 50px;
}

body {
    background: white;
    padding-bottom: 30px;
}
