{% extends 'admin/model/edit.html' %}

{% block head_tail %}
    {{ super() }}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock %}

{% block body %}
    <h1>Edit Roles</h1>
    {{ super() }}
{% endblock %}

{% block tail %}
    {{ super() }}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            function sortOptions(selector) {
                let my_options = $(selector + " option");
                my_options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });
                $(selector)
                    .empty()
                    .append(my_options);
            }

            function initSelectBox(url, select_tag) {
                let selectedRole = $("input#name").val();
                let $selector = $("select#" + select_tag);
                let activeGroup = "optgroup#active-" + select_tag;
                let inactiveGroup = "optgroup#inactive-" + select_tag
                $selector.addClass("selectpicker");
                $selector.append(
                    $('<optgroup></optgroup>')
                        .attr("id", "active-" + select_tag)
                        .attr("label", "Active")
                );
                $selector.append(
                    $('<optgroup></optgroup>')
                        .attr("id", "inactive-" + select_tag)
                        .attr("label", "Inactive")
                );
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {"role": selectedRole},
                    success: function (results, textStatus) {
                        if (textStatus === 'success') {
                            $.each(results.active, function () {
                                $(activeGroup).append(
                                    $("<option></option>")
                                        .val(this['id'])
                                        .html(this['name'])
                                        .prop('selected', true)
                                );
                            });
                            sortOptions(activeGroup);
                            $.each(results.inactive, function () {
                                $(inactiveGroup).append(
                                    $("<option></option>")
                                        .val(this['id'])
                                        .html(this['name'])
                                );
                            });
                            sortOptions(inactiveGroup);
                        }
                        $selector.selectpicker("refresh");
                    }
                });
            }
            initSelectBox("{{ url_for('roles.get_users') }}", "users");
            initSelectBox("{{ url_for('roles.get_tasks') }}", "tasks");
        });
    </script>
{% endblock %}