{# Use bootstrap page scaffolding
#}
{%- extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %}
{% if title %}
   {{ title }} - mW Reporting
{% else %}
    mW Reporting
{% endif %}
{% endblock %}

{# IE compatibility
#}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon.ico') }}">
{%- endblock %}

{% block styles -%}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block navbar %}
    {{ super() }}
    {{ nav.main_nav.render() }}
{% endblock %}

{% block footer %}
    {{ super() }}
    <div class="container">
        {% include 'message.html' %}
    </div>
{% endblock %}
