<!-- client module page: client.html -->
{% extends 'base_template.html' %}


{% block controlarea %}
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <p><select id="client-select" title="Clients" multiple="multiple" style="width: 100%">
                        <option value="test">Test Option</option>
                    </select></p>
            </div>
        </div>
    </div>
    {% include "partials/client_modal.html" %}
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clientModal"
                    style="width: 100%">Add
            </button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" id="removeButton" style="width: 100%">Remove</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" id="refreshButton" style="width: 100%">Refresh</button>
        </div>
    </div>
{% endblock %}

{% block data_area %}{% include "partials/data_grid.html" %}{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            function ajaxFn() {
                return {
                    task: "{{ task }}"
                }
            }

            $.getScript("{{ url_for("static", filename="js/client.js") }}", function () {
                configClientPage("{{ url_for(api) }}", "{{ grid_length }}", ajaxFn);
            });
            $.getScript("{{ url_for("static", filename="js/selector-widget.js") }}", function () {
                loadMultiSelect("{{ url_for(api) }}", "#client-select", "{{ task }}");
            });
            $("button#formReset").on("click", function () {
                document.getElementById("clientForm").reset();
            });
        });
    </script>
{% endblock %}
