<!-- client module page: client.html -->
{% extends 'my_base.html' %}


{% block control_area %}
    {{ super() }}
    <div class="row">
        <div class="col-lg-6">
            <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <p><select id="client-select" title="Clients" multiple="multiple" style="width: 100%"></select></p>
            </div>
        </div>
    </div>
    {% include "partials/client_modal.html" %}
    <div class="row">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary button-class" data-toggle="modal"
                    data-target="#clientModal" style="width: 100%" value="Add">Add</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary button-class" data-toggle="modal"
                    data-target="#clientModal" style="width: 100%" value="Remove">Remove</button>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" id="refreshTableButton" style="width: 100%">Refresh</button>
        </div>
    </div>
{% endblock control_area %}

{% block data_area %}
    {{ super() }}{% include "partials/data_grid.html" %}
{% endblock data_area %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            // Client Grid Area configuration
            $.getScript("{{ url_for("static", filename="js/client.js") }}", function () { configClientPage(); });

            // Client Selector JS
            $.getScript("{{ url_for("static", filename="js/client-selector.js") }}", function () {
                updateSelectOptions();

                $("button#onClick").click(function() {
                    let method = $(".modal-body #hiddenValue").val();
                    $.ajax({
                        url: '/api/client',
                        method: (method === 'Add') ? 'PUT': 'DELETE',
                        data: $("form#clientForm").serialize(),
                        success: function (data, success) {
                            $("button#formReset").click();
                            if (success === 'success') {
                                $("button#refreshTableButton").click();
                                updateSelectOptions();
                            }
                        }
                    })
                });
            });

            // Clear the modal's form
            $("button#formReset").on("click", function () {
                document.getElementById("clientForm").reset();
            });

            // Configure the modal to be used for Add and Remove
            $(".button-class").click(function () {
                let action = $(this).val();
                $("#modal-title").text(action + " Client");
                $(".modal-body #hiddenValue").val(action);
            })
        });
    </script>
{% endblock scripts %}
