<!-- data module page: data.html -->
{% extends 'base.html' %}

{% block control_area %}
    <div class="row">
        <div class="col-lg-3">
            <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
        </div>
        <div class="col-lg-4">
            <label for="report-select">Viewing data for:</label>
            <p><select id="data-select" title="Data Selector" multiple="multiple" style="width: 100%"></select></p>
        </div>
        <div class="col-lg-5">{% include "partials/calendars.html" %}</div>
    </div>
    <div class="row" style="padding-top: 15px">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary" id="loadButton" style="width: 100%"
                data-toggle="tooltip" data-placement="bottom" title="Direct the server to load this data.">
                Load Data
            </button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary" id="refreshTableButton" style="width: 100%"
                data-toggle="tooltip" data-placement="bottom" title="Get the data for the current selection.">
                Get Selection
            </button>
        </div>
    </div>
{% endblock control_area %}

{% block data_area %}{% include "partials/data_grid.html" %}{% endblock data_area %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $.getScript("{{ url_for("static", filename="js/data-selector.js") }}", function () {
                loadDataSelect();

                $.getScript("{{ url_for("static", filename="js/data.js") }}", function () {
                    configDataPage(
                        moment().subtract(1, "days").hour(0).minute(0).second(0),
                        moment().hour(0).minute(0).second(0),
                    );
                });
            });
        });
    </script>
{% endblock scripts %}
