<!-- report module page: sla_report.html -->
{% extends 'my_base.html' %}

{% block control_area %}
    <div class="row">
        <div class="col-lg-3">
            <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
        </div>
        <div class="col-lg-4">
            <p><select id="report-select" title="Data Tables" multiple="multiple" style="width: 100%">
            </select></p>
        </div>
        <div class="col-lg-5">{% include "partials/calendars.html" %}</div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary" id="loadButton" style="width: 100%">Load</button>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-primary" id="refreshButton" style="width: 100%">Refresh</button>
        </div>
    </div>
{% endblock control_area %}

{% block data_area %}{% include "partials/data_grid.html" %}{% endblock data_area %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $.getScript("{{ url_for("static", filename="js/report-selector.js") }}", function () {
                loadReportSelect();

                $.getScript("{{ url_for("static", filename="js/report.js") }}", function () {
                    configReportPage(
                        moment().subtract(1, "days").hour(0).minute(0).second(0),
                        moment().hour(0).minute(0).second(0),
                    );
                });
            });
        });
    </script>
{% endblock scripts %}