<!-- Index to blueprint index pages -->
{% extends 'base.html' %}
{%- block styles %}
    {{ super() }}
    <link href="{{ bootstrap_find_resource('css/dataTables.bootstrap.css', cdn='dataTables', use_minified=true) }}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class='col-md-4'>
                    <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
                </div>
                <div class='col-md-4'>
{#                    <select class="selectpicker" data-live-search="true" multiple>#}
{#                          <option data-tokens="">Mustard</option>#}
{#                        </select>#}
{#                    <span id=result>?</span>#}
                </div>
                <div class='col-md-4'>
                    {% include 'clientModal.html' %}
                    <!-- Modal has the button to PUT -->
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                               data-target="#clientModal">Change</button>
                </div>
            </div>
        </div>
        <table id="displayTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <!-- Configure the headers for the ajax call-->
            <thead>
            <tr>{% for column in columns %}
                <th>{{ column }}</th>{% endfor %}</tr>
            </thead>
            <tfoot>
            <tr>{% for column in columns %}
                <th>{{ column }}</th>{% endfor %}</tr>
            </tfoot>
        </table>
    </div>  <!-- /.container -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ bootstrap_find_resource('js/jquery.dataTables.js', cdn='dataTables', use_minified=true) }}"
            rel="stylesheet"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            function refresh_ajax() {
                table.ajax.reload();
            }

            function modalSubmit(event) {
                $("#clientForm").find("input[name=task]").val(event.data.action);
                processForm(event);
            }

            let table = $('#displayTable').DataTable({
                "processing": true,
                "pageLength": 50,
                "ajax": {
                    "url": "{{ url_for(api) }}",
                    "data": 'data'
                }
            });

            function processForm( e ){
                alert('hit processForm' + e.data.action);

                $.ajax({
                    url: "{{ url_for(api) }}",
                    type: 'PUT',
                    contentType: 'application/x-www-form-urlencoded',
                    data: $('#clientForm').serialize(),
                    success: function (data, status, jqXHR) {
                        console.log(data, status);
                        refresh_ajax()
                    },

                });
                e.preventDefault();
            }

            $('button#addButton').click({action: "add"}, modalSubmit);
            $('button#removeButton').click({action: "remove"}, modalSubmit);
            $('button#remove_button').click(refresh_ajax);

            $('#clientModal').on('hidden.bs.modal', function () {
                    $('.modal-body').find('textarea,input').val('');
            });
        });
    </script>
{% endblock %}
