<!-- Index to blueprint index pages -->
{% extends 'base.html' %}
{%- block styles %}
    {{ super() }}
    <link href="{{ bootstrap_find_resource('css/bootstrap-datetimepicker.css', cdn='bootstrapdtp') }}" rel="stylesheet">
    <link href="{{ bootstrap_find_resource('css/dataTables.bootstrap.css', cdn='dataTables', use_minified=true) }}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class='col-md-4'>
                    <h1 class="display-3">{{ title if title else 'Default_Data' }}</h1>
                </div>
                <div class='col-md-4'>
                    {% include'dataModal.html' %}
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                               data-target="#dataModal">Change</button>
                </div>
                <div class='col-md-4'>
                    <form id="dateRange">
                    <div class="input-group input-group-lg date">
                        <input type="text" id="datetimeStart" class="form-control" placeholder="Start from..."
                               aria-describedby="sizing-addon1" name="start_time">
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <div class="input-group input-group-lg date">
                        <input type="text" id="datetimeEnd" class="form-control" placeholder="Go to..."
                               aria-describedby="sizing-addon1" name="end_time">
                        <span class="input-group-addon" id="sizing-addon1">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    </form>
                    <button type="button" class="btn btn-primary" id="ajax_button">Run</button>
                </div>
            </div>
        </div>
        <table id="displayTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <!-- Configure the headers for the ajax call-->
            <thead>
            <tr>{% for column in columns %}
                <th>{{ column }}</th>{% endfor %}</tr>
            </thead>
            <tfoot>
            <tr>{% for column in columns %}
                <th>{{ column }}</th>{% endfor %}</tr>
            </tfoot>
        </table>
    </div>  <!-- /.container -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script src="{{ bootstrap_find_resource('js/bootstrap-datetimepicker.js', cdn='bootstrapdtp', use_minified=true) }}"
            rel="stylesheet"></script>
    <script src="{{ bootstrap_find_resource('js/jquery.dataTables.js', cdn='dataTables', use_minified=true) }}"
            rel="stylesheet"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $('#datetimeStart').datetimepicker({
            useCurrent: false,
            sideBySide: true,
            defaultDate: "{{ start_date }}"
        });
        $('#datetimeEnd').datetimepicker({
            useCurrent: false, //Important! See issue #1075
            sideBySide: true,
            defaultDate: "{{ end_date }}"
        });
        $("#datetimeEnd").on("dp.change", function (e) {
            $('#datetimeStart').data("DateTimePicker").maxDate(e.date);
        });
        $("#datetimeStart").on("dp.change", function (e) {
            $('#datetimeEnd').data("DateTimePicker").minDate(e.date);
        });
    });
    $(document).ready(function () {
        function ajax_data() {
            return {
                start_time: $('#datetimeStart').val(),
                end_time: $('#datetimeEnd').val(),
                task: 'get'
            };
        }

        function refresh_ajax() {
            table.ajax.reload();
        }

        let table = $('#displayTable').DataTable({
            "processing": true,
            "pageLength": 50,
            "ajax": {
                "url": "{{ url_for(api) }}",
                "data": ajax_data
            }
        });

        function processForm( e ){

            $.ajax({
                url: "{{ url_for(api) }}",
                type: 'PUT',
                contentType: 'application/x-www-form-urlencoded',
                data: $('#dataForm').serialize(),
                success: function (data, status, jqXHR) {
                    console.log(data, status);
                    refresh_ajax()
                }
            });
            e.preventDefault();
        }

        function modalSubmit(event) {
            $("#dataForm").find("input[name=task]").val(event.data.action);
            processForm(event);
        }

        $('button#submitButton').click({action: "load_test"}, modalSubmit);
        $('button#ajax_button').on('click', refresh_ajax);
    });
    </script>
{% endblock %}
